apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: gangwon
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1

  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      imagePullSecrets:
        - name: ghcr-pull
      containers:
      - name: backend
        image: ghcr.io/inspire12/upstage-gangwon-backend:0.3.0
        ports:
        - containerPort: 8880
        resources:
          requests:
            cpu: "200m"
            memory: "128Mi"
          limits:
            cpu: "400m"
            memory: "256Mi"
        readinessProbe:
          httpGet:
            path: /agent/health
            port: 8880
          initialDelaySeconds: 5
          periodSeconds: 5
        envFrom:
        - configMapRef:
            name: app-config
        - secretRef:
            name: app-secret
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: gangwon
spec:
  selector:
    app: backend
  ports:
  - port: 8880
    targetPort: 8880